# Dependencies
node_modules

# Build output
dist

# Vite / TS cache
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.claude

# Env
.env
.env.local
.env.*.local

# Vercel
.vercel
